
.card:hover{
    color: aliceblue;
    background-color: #010c30;
    transition: 0.5s;
}
.al:hover{
  background-color: blue;
}
.hidden{
    display: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.showw{
    opacity: 1;
    height: auto;

}
#infA{
    transition: 2.5s;
}
